<div class="container">
    <div class="row" *ngIf="!searchForm">
        <div class="col-md-6 mx-auto my-4">
            <div class="from-group my-2">
                <label for="label">Label: </label>
                <button class="btn btn-dark btn-sm float-right" (click)="switchFrom()"  ><i class="fas fa-search"></i></button>
                <input type="text" name="label" class="form-control" [(ngModel)]="newTask.label">
            </div>
            <div class="form-check my-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="newTask.completed" >
                Complated
              </label>
            </div>
            <button class="btn btn-primary btn-block" (click)="addTask()" *ngIf="!editeForm">Add task</button>
            <button class="btn btn-warning btn-block" (click)="updateTask()" *ngIf="editeForm">Update task</button>
        </div>

    </div>

    <div class="row" *ngIf="searchForm">
        <div class="col-md-6 mx-auto my-4">
            <div class="from-group my-2">
                <label for="label">Search: </label>
                <button class="btn btn-dark btn-sm float-right" (click)="switchFrom()"  ><i class="fas fa-times"></i></button>
                <input type="text" name="label" class="form-control" (keyup)="searchTasks()" [(ngModel)]="search">
            </div>
            
        </div>
        
    </div>

    
    <div class="row" >
        <div class="col-md-6 mx-auto">
            
           <ul class="list-group" *ngIf="!searchForm">
               <li class="list-group-item   justify-content-between align-items-center " *ngFor="let task of tasks">
                <span (click)="complatedToggle(task)" class="badge  badge-pill" [ngClass]="{
                                        'badge-success':task.completed,
                                        'badge-secondary':!task.completed 
                    }">
                    <i class="fas fa-clipboard-check"></i>
                </span>
                 {{task.label}}

                 <button class="btn btn-warning btn-sm float-right mx-2" (click)="edit(task)" ><i class="far fa-edit"></i></button>
                 <button class="btn btn-danger btn-sm float-right" (click)="deleteTask(task.id)"><i class="fas fa-trash"></i></button>
               </li>
           </ul>
           

           <ul class="list-group" *ngIf="searchForm">
            <li class="list-group-item   justify-content-between align-items-center " *ngFor="let task of resultTasks">
             <span (click)="complatedToggle(task)" class="badge  badge-pill" [ngClass]="{
                                     'badge-success':task.completed,
                                     'badge-secondary':!task.completed 
                 }">
                 <i class="fas fa-clipboard-check"></i>
             </span>
              {{task.label}}

              <button class="btn btn-warning btn-sm float-right mx-2" (click)="edit(task)" ><i class="far fa-edit"></i></button>
              <button class="btn btn-danger btn-sm float-right" (click)="deleteTask(task.id)"><i class="fas fa-trash"></i></button>
            </li>
        </ul>
        </div>
    </div>

    
</div>